/*
        COLORES
        #56192b
        #fff0d7
        #c9e0c0
        #93d1aa
        #5ec294
*/
body{
  background-color: #56192b;
}

p,h1,h2,h3,h4,h5,a,th,td,label,li,thead,tbody{
  color: #fff0d7;
  list-style: none;
}

table td,th {
  text-align: center;
  border-spacing: 0px;
  width: 20%;
}

.card,h5,th {
  background-color: #56192b!important;
  text-align: center;
  border-color: #5ec294;
  
}
.form-control {
border-radius: 1.25rem;
border: 1px solid #56192b;
}

