/*
        COLORES
        #56192b
        #fff0d7
        #c9e0c0
        #93d1aa
        #5ec294
*/
body{
  background-color: #56192b;
}
p,h1,h2,h3,a,th,td,label,li{
  color: #fff0d7;
}

#tablaCoctel td,
th {
  text-align: center;
  border: 1px solid #5ec294;
  border-spacing: 0px;
  width: 20%;
}
#tablaCoctel {
  margin-left: auto;
  margin-right: auto;
}
